.App {
  text-align: center;
  /* display: flex;
  justify-self: center;
  align-items: center; */
  margin-top: 100px;
  height:100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Toggle */
.toggle {
  position:relative;
  display:inline-block;
  width:80px;
  height:34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider */
.slider {
  position: absolute;
  cursor: pointer;
  width:80px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--background-color);
  transition: 0.4s;
  --background-color: #eee;
  --accent-color: #4900CE;
  cursor: pointer;
}

/* slider-ball */
.slider:before {
  position: absolute;
  content:"";   
  height: 26px;
  width: 26px;
  top:4px;
  left: 4px;
  bottom:4px;
  background-color: white;
  transition: 0.4s;
}

/* move */
input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(46px);
}

/*rounded*/
.slider.rounded{
  border-radius: 34px;
}

.slider.rounded:before{
  border-radius: 50px;
}

/* toggle-text */
.toggle-text {
  margin-left:-20px;
  width:130px;
}

/* modal */
/* modal-button */
.btn-modal{
  display: block;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
  background-color: #4900CE;
  height:50px;
  border: none;
  padding: 18px;
  color: white;
  box-shadow: 1px 1px 2px black inset;
  text-shadow: 1px 1px 2px black;
  z-index:1;
  cursor: pointer;
}

/* Modal-back */
#modal.modal-background{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background:rgba(0, 0, 0, 0.5);
}

/* Modal-window */
.modal-content{
  position: absolute;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:100px;
  z-index:200;
  border-radius: 10px;
  text-align: center;
  color: #4900CE;
  font-weight: lighter;
  padding: 10px 20px 20px 20px;
}

/* close-button */
.close-modal{
  margin-top:30px;
  color: #282c34;
  font-weight: 500;
}

/* modal-text */
.modal-text{
  font-weight: 200;
  font-size: 24px;
  text-align: center;
}

